<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/output.css" />
    <title><%=title%></title>
  </head>
  <body >
    <% const isLoggedIn = true; %>
    <%-include('./partial/nav')%>
    <h1 class="text-3xl font-bold mb-4 text-center">
      <%= editing ? "Edit" : "Add"%> a new home
    </h1>
    
   
    <div class="max-w-md p-4 bg-white rounded-lg ml-auto mr-auto shadow-md">
      <h1 class="text-3xl font-bold mb-4">
        <%= editing ? "Edit" : "Add"%> a new home
      </h1>
      <form action="/host/<%=editing ? "edit-home" : "add-home" %>" method="POST">
        <input type="hidden" name="id" value="<%= editing ? home._id : ''%>" />
        <div class="mb-4">
          <label
            class="block text-gray-700 text-sm font-bold mb-2"
            for="housename"
            >housename</label
          >
          <input
            class="shadow border rounded w-full py-2 px-3 text-gray-700 leading-tight"
            id="housename"
            value="<%=editing ? home.housename : ''%>"
            type="text"
            name="housename"
            placeholder="Enter home name"
          />
        </div>
        <div class="mb-4">
          <label
            class="block text-gray-700 text-sm font-bold mb-2"
            for="location"
            >Location</label
          >
          <input
            class="shadow border rounded w-full py-2 px-3 text-gray-700 leading-tight"
            id="location"
            type="text"
            value="<%=editing ? home.location : ''%>"
            name="location"
            placeholder="Enter location"
          />
        </div>
        <div class="mb-4">
          <label class="block text-gray-700 text-sm font-bold mb-2" for="rating"
            >Rating</label
          >
          <input
            class="shadow border rounded w-full py-2 px-3 text-gray-700 leading-tight"
          
            name="rating"
            value="<%=editing ? home.rating : ''%>"
            type="text"
            placeholder="Enter rating"
          />
        </div>
        <div class="mb-4">
          <label class="block text-gray-700 text-sm font-bold mb-2" 
            >Photo URL</label
          >
          <input
            class="shadow border rounded w-full py-2 px-3 text-gray-700 leading-tight"
            id="photurl"
            name="photurl"
            value="<%=editing ? home.photurl : ''%>"
            type="text"
            placeholder="Enter photo URL"
          />
        </div>
        <div class="mb-4">
          <label class="block text-gray-700 text-sm font-bold mb-2"
            >price</label
          >
          <input
            class="shadow border rounded w-full py-2 px-3 text-gray-700 leading-tight"
            id="price"
            name="price"
            value="<%=editing ? home.price : ''%>"
            type="number"
            placeholder="Enter photo URL"
          />
          <label class="block text-gray-700 text-sm font-bold mb-2"
            >Discription</label>
          <textarea
          class="shadow border rounded w-full py-2 px-3 text-gray-700 leading-tight"
          name="discription"
          value="<%=editing ? home.discription : ''%>"
          type="number"
          placeholder="Enter discription"
        ><%=editing ? home.discription : ''%></textarea>
        </div>
        <button
          class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
          type="submit"
        >
          <%=editing ? "Update" : "Add"%> Home
        </button>
      </form>
    </div>
  </body>
</html>
